<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary" (click)="ListUser()"
                    value=""><i class="mdi mdi-playlist-check"></i> Listado Usuarios</button></h4>
    
                <form (submit)="createUser()" [formGroup]="usersForm">
  
                    <div class="row">
                    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Apellido Paterno</label>
                                <input type="text" id="apellido_pat" class="form-control" placeholder="Apellido Paterno"
                                    formControlName="apellido_pat">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Apellido Materno</label>
                                <input type="text" id="apellido_mat" class="form-control" placeholder="Apellido Materno"
                                    formControlName="apellido_mat">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nombre</label> 
                                <input type="text" id="nombre" class="form-control" placeholder="Nombre"
                                    formControlName="nombre" >
                            </div>
                        </div>
                        <!--
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nombre completo</label>
                                <input type="text" id="nombre_completo" class="form-control"
                                placeholder="Nombre Completo" formControlName="nombre_completo">
                            </div>
                        </div>
                        -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">No. Empleado</label>
                                <input type="text" id="numero_empleado" class="form-control"
                                    placeholder="Numero empleado" formControlName="numero_empleado">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Tipo Usuario</label>
                                <select class="form-control" id="id_tipo_usuario" placeholder="Tipo-Usuario"
                                    formControlName="id_tipo_usuario">
                                    <option [value]="item.id" *ngFor="let item of TipoUsuario">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Usuario</label>
                                <input type="text" id="usuario" class="form-control" placeholder="Usuario"
                                    formControlName="usuario">
                            </div>
                        </div>                    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Email Personal</label>
                                <input type="text" id="email_personal" class="form-control" placeholder="Email"
                                    formControlName="email_personal">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="text" id="email" class="form-control" placeholder="Email"
                                    formControlName="email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">CURP</label>
                                <input type="text" id="curp" class="form-control" placeholder="Curp"
                                    formControlName="curp">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">RFC</label>
                                <input type="text" id="rfc" class="form-control" placeholder="RFC"
                                    formControlName="rfc">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Número de Seguro Social</label>
                                <input type="text" id="nss" class="form-control" placeholder="Número de Seguro Social"
                                    formControlName="nss">
                            </div>
                        </div>                  
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Sexo</label>
                                <select class="form-control" id="id_sexo" placeholder="Sexo" formControlName="id_sexo">
                                    <option [value]="item.id" *ngFor="let item of Sexo">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Fecha Nacimiento</label>
                                <input type="date" id="fecha_nacimiento" class="form-control" placeholder="yy/mm/dd"
                                    formControlName="fecha_nacimiento">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Estatus</label>
                                <select class="form-control" id="id_estatus" placeholder="Estatus"
                                    formControlName="id_estatus">
                                    <option [value]="item.id" *ngFor="let item of Estatus">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Ubicación</label>
                                <select class="form-control" id="id_ubicacion" placeholder="Ubicacion"
                                    formControlName="id_ubicacion">
                                    <option [value]="item.id" *ngFor="let item of Ubicacion">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Empresa</label>
                                <select class="form-control" id="id_empresa_rh" placeholder="Empresa"
                                    formControlName="id_empresa_rh">
                                    <option [value]="item.id" *ngFor="let item of Empresa">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Categoria</label>
                                <select class="form-control" id="id_subcategoria" placeholder="SubCategoria"
                                    formControlName="id_subcategoria">
                                    <option [value]="item.id" *ngFor="let item of SubCategoria">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
              
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Ejecución Administrativa</label>
                                <select class="form-control" id="ejecucion_administrativa"
                                    placeholder="Ejecución Administrativa" formControlName="ejecucion_administrativa">
                                    <option [value]="item.id" *ngFor="let item of EjecucionAdministrativa">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Departamento Empresa</label>
                                <select class="form-control" id="id_departamento_empresa"
                                    placeholder="Departamento Empresa" formControlName="id_departamento_empresa">
                                    <option [value]="item.id" *ngFor="let item of Departamento">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Puesto</label>
                                <select class="form-control" id="id_puesto" placeholder="Puesto"
                                    formControlName="id_puesto">
                                    <option [value]="item.id" *ngFor="let item of Puesto">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Sueldo</label>
                                <input type="text" id="sueldo" class="form-control" placeholder="Sueldo"
                                    formControlName="sueldo">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Turno</label>
                                <select class="form-control" id="id_turno" placeholder="Turno"
                                    formControlName="id_turno">
                                  <option [value]="item.id" *ngFor="let item of Turno">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Banco</label>
                                <select class="form-control" id="id_banco" placeholder="Banco"
                                    formControlName="id_banco">
                                    <option [value]="item.id" *ngFor="let item of Banco">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Número Cuenta Bancaria</label>
                                <input type="text" id="numero_cuenta_bancaria" class="form-control"
                                    placeholder="Numero Cuenta Bancaria" formControlName="numero_cuenta_bancaria">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Clabe Interbancaria</label>
                                <input type="text" id="clabe_inter_bancaria" class="form-control"
                                    placeholder="Clabe interbancaria" formControlName="clabe_inter_bancaria">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Fecha Ingreso</label>
                                <input type="date" id="fecha_ingreso" class="form-control" placeholder="dd/mm/yyyy"
                                    formControlName="fecha_ingreso">
                            </div>
                        </div>
                        <!--
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Fecha Contrato</label>
                                <input type="date" id="fecha_contrato" class="form-control" placeholder="dd/mm/yyyy"
                                    formControlName="fecha_contrato">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Ola</label>
                                <input type="text" id="ola" class="form-control" placeholder="Ola"
                                    formControlName="ola">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Fecha Inicio Capacitacion</label>
                                <input type="date" id="fecha_inicio_capacitacion" class="form-control"
                                    placeholder="dd/mm/yyyy" formControlName="fecha_inicio_capacitacion">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Fecha Fin Capacitacion</label>
                                <input type="date" id="fecha_fin_capacitacion" class="form-control"
                                    placeholder="dd/mm/yyyy" formControlName="fecha_fin_capacitacion">
                            </div>
                        </div>
                        -->
               
                    </div>
                  
                    
                    <div mat-dialog-actions class="btn-create botones">
                        <button class="btn btn-warning" style="text-align: end;">Cancelar</button>

                        <button type="submit" class="btn btn-primary" style="text-align: end;">Crear Usuario</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
