<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary"  value=""><i
                            class="mdi mdi-plus"></i>Regresar</button></h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="headUser">
                            <tr>
                                <th>No. empleado: {{ user.numero_empleado}}</th>
                                <th>Nombre completo: {{ user.nombre_completo }}</th>
                                <th>Puesto: {{ user.puesto.nombre }}</th>
                            </tr>
                        </thead>
                    </table>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>N. empleado</th>
                                    <th>Nombre completo</th>
                                    <th>CURP</th>
                                    <th>Módulos/Permisos</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                    
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>