<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <div class="row">
                    <div class="col-10">
                        
                        <form [formGroup]="usersForm">
                         <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" id="nombre_completo" class="form-control" placeholder="Nombre Completo" 
                                   formControlName="nombre_completo" >
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                        <button type="submit" class="btn btn-primary" (click)="searchUser()" ><i class="mdi mdi-account-search"></i> </button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label"> Filtro por Estatus</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                   
                                    <select class="form-control" id="id_estatus" placeholder="Estatus"
                                    formControlName="id_estatus" (change)="searchEstatus()"  >
                                    <option value="0">MOSTRAR TODOS</option>
                                    <option [value]="item.id" *ngFor="let item of Estatus">{{item.nombre}}</option>
                                </select>
                                </div>
                            </div>
                         </div>   
                        </form>
                    </div>

                    <div class="col-2">
                        <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary" (click)="createUser()" [disabled]="!permisse.create "
                            value=""><i class="mdi mdi-plus"></i> Crear usuario</button></h4>
                    </div>
               </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>N. empleado</th>
                                <th>Nombre completo</th>
                                <th>CURP</th>
                                <th>Módulos/Permisos</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let users of users | paginate: { itemsPerPage: 50, currentPage: p }">
                                <td>{{users.numero_empleado }}</td>
                                <td>{{users.nombre_completo }}</td>
                                <td>{{users.curp }}</td>
                                <td>0</td>
                                <td class="actions">
                                    <a [routerLink]="['/dashboard/see-user', users.id ]"  *ngIf="permisse.read "><i class="mdi mdi-eye"></i></a>
                                    <a [routerLink]="['/dashboard/edit-user', users.id ]"  *ngIf="permisse.edit "><i class="mdi mdi-pencil"></i></a>
                                    <a [routerLink]="['/dashboard/delete-user', users.id ]"  *ngIf="permisse.delete "><i class="mdi mdi-delete"></i></a>
                                    <a [routerLink]="['/dashboard/add-permisse', users.id ]" ><i class="mdi mdi-account-card-details"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
              
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"
                        style="text-align: center;"></pagination-controls>
            </div>
        </div>
    </div>
</div>