.search-employees {
  height: 37px !important;
  margin-left: 10px !important;
}

.search-div {
  display: flex;
}

.link-options {
  color: #745af2 !important;
  cursor: pointer !important;
  margin: 5px !important;
}

.registros {
  font-size: 1rem;
  font-weight: bold;
}