<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        
                        <form [formGroup]="productsForm">
                         <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="nombre_completo"> Filtro por Almacén o Responsable</label>
                                    <input type="text" id="name" class="form-control" placeholder="Nombre del Almacen o Responsable" 
                                   formControlName="name" >
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin-top: 34px;">
                                        <button type="submit" class="btn btn-primary"   (click)="searchStores()"><i class="mdi mdi-account-search"></i> </button>
                                </div>
                            </div>
                         </div>   
                        </form>
                    </div>

                    <div class="col-2">
                        <h4 class="card-title" style="text-align: end; margin-top: 34px;"><button class="btn btn-primary" (click)="createStores()"
                            value=""><i class="mdi mdi-plus"></i> Crear Almacén</button></h4>
                    </div>
               </div>

       
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Secciones</th>
                                <th>Responsable</th>
                                <th>Estatus</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let store of stores| paginate: { itemsPerPage: 50, currentPage: p }">
                                <td>{{store.id }}</td>
                                <td>{{store.name }}</td>
                                <!--<td>  <a [routerLink]="['/dashboard/list-secction', store.id]">{{store.secction.length}}</a></td>-->
                                <td>Responsable</td>
                                <td>Estatus</td>
                                <td class="actions">
                                    <a [routerLink]="['/dashboard/see-store', store.id ]"><i class="mdi mdi-eye"></i></a>
                                    <a [routerLink]="['/dashboard/edit-store', store.id ]"><i class="mdi mdi-pencil"></i></a>
                                    <a [routerLink]="['/dashboard/delete-store', store.id ]"><i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"
                        style="text-align: center;"></pagination-controls>
            </div>
        </div>
    </div>
</div>