<loading *ngIf="isLoading">{{ isLoading }}</loading>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"><a class="btn btn-primary" [routerLink]="['/dashboard']"
                        value=""><i class="mdi mdi-playlist-check"></i>
                        Listada negra</a>
                </h4>
                <form [formGroup]="resetPasswordForm" (submit)="submitForm()">
                    <div class="row">




                        <div class="col-4">
                            
                            <div class="form-group">
                                <label class="control-label">Ingresa la nueva contraseña *</label>
                                <div class="password-input">

                                    <input type="{{ showPassword ? 'text' : 'password' }}" id="firstName"
                                    class="form-control" placeholder="" formControlName="newPassword" #pw
                                    [ngClass]="{ 'is-invalid':newPassword.invalid && newPassword.touched }">
                                
                                    <span class="password-icon" (click)="togglePasswordVisibility()">
                                        <i class="fa" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"
                                        ></i>
                                    </span>
                                </div>

                                <div *ngIf="newPassword.errors?.['required']  && newPassword?.touched"
                                    class="invalid-feedback">
                                    Campo requerido
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="control-label">Escribe nuevamente la contraseña *</label>

                                <div class="password-input">

                                    <input type="{{ showPassword2 ? 'text' : 'password' }}" id="firstName" class="form-control" placeholder=""
                                    formControlName="confirmPassword" #cpw
                                    [ngClass]="{ 'is-invalid':confirmPassword.invalid && confirmPassword.touched }">

                                    <span class="password-icon" (click)="togglePasswordVisibility2()">
                                        <i class="fa" [class.fa-eye]="!showPassword2" [class.fa-eye-slash]="showPassword2"></i>
                                    </span>
                                    
                                </div>

                                <div *ngIf="confirmPassword.errors?.['required'] && confirmPassword?.touched"
                                    class="invalid-feedback">
                                    Campo requerido
                                </div>



                                <div *ngIf="confirmPassword.errors?.['confirmedValidator'] && confirmPassword?.touched"
                                    class="invalid-feedback">
                                    Las contraseñas no coinciden, intente de nuevo.
                                </div>
                            </div>

                        </div>



                        <div class="col-12">
                            <div mat-dialog-actions class="btn-create">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="resetPasswordForm.invalid">Guardar</button>
                                <button class="btn btn-warning">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>