<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary" (click)="createModule()"
                        value=""><i class="mdi mdi-plus"></i> Crear módulo</button></h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Módulo</th>
                                <th>Order</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cat_modues of cat_modues | paginate: { itemsPerPage: 50, currentPage: p }">
                                <td>{{cat_modues.name }}</td>
                                <td>{{cat_modues.order }}</td>
                                <td class="actions">
                                    <a [routerLink]="['/dashboard/see-module', cat_modues.id ]"><i class="mdi mdi-eye"></i></a>
                                    <a [routerLink]="['/dashboard/edit-module', cat_modues.id ]"><i class="mdi mdi-pencil"></i></a>
                                    <a [routerLink]="['/dashboard/delete-module', cat_modues.id ]"><i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"
                        style="text-align: center;"></pagination-controls>
            </div>
        </div>
    </div>
</div>
