<loading *ngIf="isLoading">{{ isLoading }}</loading>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div mat-dialog-actions class="card-title"  style="text-align: end;" >
                <h4>
                    <button class="btn btn-primary" (click)="listCategories()"value=""><i class="mdi mdi-keyboard-backspace"></i> Regresar</button>
                    &nbsp; 
                    <button class="btn btn-primary"  (click)="createSubCategories()"value=""><i class="mdi mdi-plus"></i> Crear SubCategoria</button>
                </h4>
                </div>
                

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Registro</th>
                                <th>Nombre</th>
                                <th>Marca</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subcategories of subcategories | paginate: { itemsPerPage: 50, currentPage: p }">
                                <td>{{subcategories.id }}</td>
                                <td>{{subcategories.registro | date: 'dd/MM/yyyy' }}</td>
                                <td>{{subcategories.nameSub }}</td>
                                <td><a [routerLink]="['/dashboard/list-brand',subcategories.id]">{{subcategories.totbrand}}</a></td>
                                <td class="actions">
                                    <a [routerLink]="['/dashboard/see-subcategories', subcategories.id ]"><i class="mdi mdi-eye"></i></a>
                                    <a [routerLink]="['/dashboard/edit-subcategories', subcategories.id ]"><i class="mdi mdi-pencil"></i></a>
                                    <a [routerLink]="['/dashboard/delete-subcategories', subcategories.id ]"><i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"
                        style="text-align: center;"></pagination-controls>
            </div>
        </div>
    </div>
</div>
