<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary" (click)="createSubCategories()"
                        value=""><i class="mdi mdi-plus"></i> Crear SubCategoria</button></h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Registro</th>
                                <th>Nombre</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subcategories of subcategories | paginate: { itemsPerPage: 50, currentPage: p }">
                                <td>{{subcategories.id }}</td>
                                <td>{{subcategories.created_at | date: 'dd/MM/yyyy' }}</td>
                                <td>{{subcategories.name }}</td>
                                <td class="actions">
                                    <a [routerLink]="['/dashboard/see-subcategories', subcategories.id ]"><i class="mdi mdi-eye"></i></a>
                                    <a [routerLink]="['/dashboard/edit-subcategories', subcategories.id ]"><i class="mdi mdi-pencil"></i></a>
                                    <a [routerLink]="['/dashboard/delete-subcategories', subcategories.id ]"><i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"
                        style="text-align: center;"></pagination-controls>
            </div>
        </div>
    </div>
</div>
