<loading *ngIf="isLoading">{{ isLoading }}</loading>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary" (click)="homeInventory()"
                        value=""><i class="mdi mdi-keyboard-backspace"></i> Regresar</button></h4>
                <!-- Inicio de Formulario de Datos principales de Ingreso Almacen-->
                <form [formGroup]="incomeStoreForm ">
                    <fieldset class="scheduler-border">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <legend class="scheduler-border"><h4 class="card-title;  font-weight-bold" > Ingreso de Almacén</h4></legend>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <label class="control-label">N. de Ingreso</label> 
                                    </fieldset>
                                </div>              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <input type="text" id="id" class="form-control" placeholder=" " formControlName="id">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <label class="control-label">N. Orden de Compra:</label>
                                    </fieldset>
                                </div>              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <input type="text" id="purchase_order_number" class="form-control" placeholder=" " formControlName="purchase_order_number">
                                     </fieldset>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <label class="control-label">Almacén</label> 
                                    </fieldset>
                                </div>              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <select class="form-control" id="warehouse_id" placeholder="Almacén" formControlName="warehouse_id"  [(ngModel)]="IdStore" >
                                        <option [value]="item.id" *ngFor="let item of Stores">{{item.name}}</option>
                                    </select>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <label class="control-label">Factura:</label> 
                                    </fieldset>
                                </div>              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <input type="text" id="invoice" class="form-control" placeholder=" " formControlName="invoice">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <label class="control-label">Sección:</label> 
                                    </fieldset>
                                </div>              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <select class="form-control" id="section_id" placeholder="Sección" formControlName="section_id" >
                                        <option [value]="item.id" *ngFor="let item of Secction">{{item.name}}</option>
                                    </select>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <fieldset disabled>
                                        <label class="control-label">Fecha de la factura:</label> 
                                    </fieldset>
                                </div>              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <fieldset disabled>
                                         <input type="date" id="invoice_date" class="form-control" placeholder=" " formControlName="invoice_date">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <label class="control-label">Tipo de Ingreso:</label> 
                                    </fieldset>
                                </div>              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <select class="form-control" id="warehouse_entry_type_id" placeholder="Tipo de Ingreso" formControlName="warehouse_entry_type_id">
                                        <option [value]="item.id" *ngFor="let item of Warehouse_Income_Type">{{item.name}}</option>
                                    </select>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <fieldset disabled>
                                        <label class="control-label">Proveedor:</label> 
                                    </fieldset>
                                </div>              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <select class="form-control" id="provider_id" placeholder=" " formControlName="provider_id" >
                                        <option [value]="item.id" *ngFor="let item of supplier">{{item.razon_social}}</option>
                                    </select>
                                    </fieldset>
                                </div>
                            </div>




                        </div>
                    </fieldset>
          
                <!-- Fin de Formulario de Datos principales de Ingreso Almacen-->


                <!-- Inicio de Formulario de Datos principales de Detalle de Ingreso Almacen-->
             
                    <fieldset class="scheduler-border">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <legend class="scheduler-border"><h4 class="card-title;  font-weight-bold" > Detalle de Ingreso de Almacén</h4></legend>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <label class="control-label">Categoría</label> 
                                    </fieldset>
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" id="category_id" placeholder="Categoria" formControlName="category_id" (change)="obtIdCategorie()" [(ngModel)]="IdCategorie" >
                                        <option [value]="item.id" *ngFor="let item of  Catcategorie">{{item.name}}</option>
                                    </select>    
                                </div>
                            </div>
                            <div class="col-md-4">  
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <label class="control-label">SubCategoría</label> 
                                    </fieldset>
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" id="subcategory_id" placeholder="SubCategoria" formControlName="category_id" (change)="obtIdSubcategorie()" [(ngModel)]="IdSubCategorie"  >
                                        <option [value]="item.id" *ngFor="let item of  SubCategorie">{{item.name}}</option>
                                    </select>    
                                </div>
                            </div>
                            <div class="col-md-4">  
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <fieldset disabled>
                                    <label class="control-label">Producto</label> 
                                    </fieldset>
                                </div>              
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" id="product_id" placeholder="SubCategoria" formControlName="product_id"  [(ngModel)]="IdProducto"  >
                                        <option [value]="item.id" *ngFor="let item of  Producto">{{item.name}}</option>
                                    </select>    
                                </div>
                            </div>
                            <div class="col-md-4">  
                                <h4 class="card-title" style="text-align: end;"><button class="btn btn-success" (click)="ListProduct()"
                                    value=""><i class="mdi mdi-tooltip-outline-plus"></i> Agregar</button></h4>
                     
                            </div>

                            <!-- Inicio Tabla de productos  Detalle de Ingreso Almacen-->
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Producto</th>
                                        <th>Sku</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Unidad de medida</th>
                                        <th>Cantidad a recibir</th>
                                        <th>Recibidas</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        <tr *ngFor="let ProductoDet of ProductoDet">
                                            <td>{{ProductoDet.name }}</td>
                                            <td>{{ProductoDet.sku }}</td>
                                            <td>{{ProductoDet.namebrand}}</td>
                                            <td>{{ProductoDet.model}}</td>
                                            <td>Pieza</td>
                                            <td><input type="text" id="amount" class="form-control" placeholder=" " formControlName="amount"   [(ngModel)]="amount"></td>
                                            <td><input type="text" id="total_received" class="form-control" placeholder=" " formControlName="total_received"  [(ngModel)]="totalreceived"></td>
                                            <td class="actions" *ngIf="amount<totalreceived">
                                                <label class="control-label">El total recicibido no debe de ser menor a la cantidad a recibir</label>
                                            </td>
                                            <td class="actions" *ngIf="amount>=totalreceived">
                                                <button type="submit" class="btn btn-primary" style="text-align: end;" (click)="createDetailProduct()">Continuar</button>
                                                &nbsp;
                                                <button class="btn btn-warning" style="text-align: end;">Cancelar</button>
                                            </td>
                                           <!-- <td class="actions" *ngIf="amount==totalreceived">
                                                <button type="submit" class="btn btn-primary" style="text-align: end;" (click)="createDetailProduct()">Continuar</button>
                                                &nbsp;
                                                <button class="btn btn-warning" style="text-align: end;">Cancelar</button>
                                            </td>
                                        -->
                                           
                                         </tr>

                                    </tbody>
                                </table> 
                                <!-- Fin Tabla de productos  Detalle de Ingreso Almacen-->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <legend class="scheduler-border"><h4 class="card-title;  font-weight-bold" > N. de Serie del Producto </h4></legend>
                                    </div>
                                </div>

                             <!-- Inicio Tabla de productos  Detalle de Ingreso Almacen Serial-->
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Item</th>
                                        <th>Producto</th>
                                        <th>Sku</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Unidad de medida</th>
                                        <th>N. de Serie</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        <tr *ngFor="let ProductDetSerial of ProductDetSerial">
                                            <td>{{ProductDetSerial.id }}</td>
                                            <td>{{ProductDetSerial.product_name}}</td>
                                            <td>{{ProductDetSerial.sku}}</td>
                                            <td>{{ProductDetSerial.brand_name}}</td>
                                            <td>MODELO</td>
                                            <td>Pieza</td>
                                            <td><input type="text" id="serial_number" class="form-control" placeholder=" " formControlName="serial_number" [(ngModel)]="serial_number" ></td>
                                            <td class="actions">
                                                <button type="submit" class="btn btn-info" style="text-align: end;" (click)="UpdateSerialProduct()">Actualizar</button>
                                            </td>
                                             
                                
                                         </tr>
                                        
                                    </tbody>
                                </table> 
                                <!-- Fin Tabla de productos  Detalle de Ingreso Almacen Serial-->

                            </div>
                    </fieldset>
                <!-- Fin de Formulario de Datos principales de Detalle de Ingreso Almacen-->
                </form>
            </div>
        </div>
    </div>
</div>