<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary" (click)="ListClient()"
                        value=""><i class="mdi mdi-arrow-left-bold"></i> Regresar</button></h4>

                <form id="clientForm" [formGroup]="clientForm" (submit)="DeleteClient()">
                    <fieldset class="scheduler-border">
                        <fieldset disabled>
                            <div class="row">


                                <div class="col-md-12">
                                    <div class="form-group">
                                        <legend class="scheduler-border">
                                            <h4 class="card-title;  font-weight-bold"> Datos Generales</h4>
                                        </legend>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">No. Cliente</label>
                                        <fieldset disabled><input type="text" id="no_cliente" required=""
                                                class="form-control" formControlName="no_cliente"></fieldset>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Razón Social *</label>
                                        <input type="text" id="razon_social" class="form-control"
                                            placeholder="Razón Social" formControlName="razon_social">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">RFC *</label>
                                        <input type="text" id="rfc" class="form-control" placeholder="RFC"
                                            formControlName="rfc">

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">País *</label>
                                        <select class="form-control" id="idPais" placeholder="País"
                                            formControlName="idPais" [(ngModel)]="idPais">
                                            <option [value]="item.idpais" *ngFor="let item of Paises">{{item.pais}}
                                            </option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Ciudad *</label>
                                        <select class="form-control" id="idCiudad" placeholder="Ciudad"
                                            formControlName="idCiudad" [(ngModel)]="idCiudad">
                                            <option [value]="item.idciudad" *ngFor="let item of Ciudades">
                                                {{item.ciudad}}</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Municipio/Alcadía *</label>
                                        <select class="form-control" id="idMunicipio" placeholder="Municipio / Alcadia"
                                            formControlName="idMunicipio" [(ngModel)]="idMunicipio">
                                            <option [value]="item.iddelegacion" *ngFor="let item of Delegaciones">
                                                {{item.delegacion}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Calle *</label>
                                        <input type="text" id="calle" class="form-control" placeholder="Calle"
                                            formControlName="calle">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">No. Ext *</label>
                                        <input type="text" id="no_ext" class="form-control" placeholder="No. Ext"
                                            formControlName="no_ext">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">No. Int </label>
                                        <input type="text" id="no_int" class="form-control" placeholder="No. Int"
                                            formControlName="no_int">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Colonia *</label>
                                        <input type="text" id="colonia" class="form-control" placeholder="Colonia"
                                            formControlName="colonia">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Código Postal *</label>
                                        <input type="text" id="cp" class="form-control" placeholder="Codigo Postal"
                                            formControlName="cp">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Sitio Web</label>
                                        <input type="text" id="sitio_web" class="form-control" placeholder="Sitio Web"
                                            formControlName="sitio_web">
                                    </div>
                                </div>


                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">URL Google Maps</label>
                                        <input type="text" id="url_map" class="form-control"
                                            placeholder="URL Google Maps" formControlName="url_map">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">Observaciones</label>
                                        <textarea class="form-control" id="observaciones" rows="3"
                                            placeholder="Observaciones" formControlName="observaciones"></textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>


                    <fieldset class="scheduler-border">
        
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <legend class="scheduler-border">
                                            <h4 class="card-title;  font-weight-bold"> Estatus</h4>
                                        </legend>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Estatus</label>
                                        <select class="form-control" id="idestatus" placeholder="Estatus"
                                            formControlName="idestatus">
                                            <option [value]="item.id" *ngFor="let item of Estatus">{{item.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div mat-dialog-actions class="btn-create botones">
                            <button class="btn btn-warning" style="text-align: end;">Cancelar</button>
                            <button type="submit" class="btn btn-primary" style="text-align: end;">Eliminar Cliente</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
