<loading *ngIf="isLoading">{{ isLoading }}</loading>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary" (click)="ListSupplier()"  value=""><i
                            class="mdi mdi-playlist-check"></i> Regresar</button></h4>

                <form id="clientForm" [formGroup]="supplierForm"  (submit)="updateSupplier()" >
                    <fieldset class="scheduler-border">
                    <div class="row">
                       
                    
                            <div class="col-md-12">
                                <div class="form-group">
                                    <legend class="scheduler-border"><h4 class="card-title;  font-weight-bold" > Datos Generales</h4></legend>
                                </div>
                            </div>
    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">No. Proveedor</label>
                                <fieldset disabled><fieldset disabled><label class="control-label">{{ id_proveedor}}</label> </fieldset></fieldset>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Razón Social *</label>
                                <input type="text" style="text-transform:uppercase;" id="razon_social" class="form-control" formControlName="razon_social" >
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">RFC *</label>
                                <input type="text"  style="text-transform:uppercase;" maxlength="12"  id="rfc" class="form-control" formControlName="rfc" >
                                    
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">País *</label>
                                <select class="form-control" id="idPais"  formControlName="idPais" (change)="obtIdPais()" [(ngModel)]="idPais" >
                                    <option [value]="item.idpais" *ngFor="let item of Paises">{{item.pais}}</option>
                                </select>
                               
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Ciudad *</label>
                                <select class="form-control" id="idCiudad" formControlName="idCiudad" (change)="obtIdCiudad()" [(ngModel)]="idCiudad">
                                    <option [value]="item.idciudad" *ngFor="let item of Ciudades">{{item.ciudad}}</option>
                                </select>
                          
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Municipio/Alcadía *</label>
                                <select class="form-control" id="idMunicipio" formControlName="idMunicipio"(change)="obtIdMunicipio()" [(ngModel)]="idMunicipio" >
                                    <option [value]="item.iddelegacion" *ngFor="let item of Delegaciones">{{item.delegacion}}</option>
                                </select>
                              
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Calle *</label>
                                <input type="text" style="text-transform:uppercase;" id="calle" class="form-control" formControlName="calle">
                                   
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">No. Ext *</label>
                                <input type="text" style="text-transform:uppercase;" id="no_ext" class="form-control"  formControlName="no_ext">
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">No. Int </label>
                                <input type="text" style="text-transform:uppercase;" id="no_int" class="form-control"   formControlName="no_int">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Colonia *</label>
                                <input type="text" style="text-transform:uppercase;" id="colonia" class="form-control"   formControlName="colonia">
                                 
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Código Postal *</label>
                                <input type="text" style="text-transform:uppercase;" id="cp" class="form-control" formControlName="cp">
                                   
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Sitio Web</label>
                                <input type="text" id="sitio_web" class="form-control"  formControlName="sitio_web">
                            </div>
                        </div>
                    

                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">URL Google Maps</label>
                                <input type="text" id="url_map" class="form-control" formControlName="url_map">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">Observaciones</label>
                            <textarea class="form-control"  style="text-transform:uppercase;" id="observaciones" rows="3" formControlName="observaciones"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                

                <fieldset class="scheduler-border">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <legend class="scheduler-border"><h4 class="card-title;  font-weight-bold" > Datos de Pago</h4></legend>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Días de Credito</label>
                                    <input type="text" id="dias_credito" class="form-control" formControlName="dias_credito">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Banco</label>
                                    <select class="form-control" id="idBanco"  formControlName="idBanco">
                                    <option [value]="item.id" *ngFor="let item of Banco">{{item.nombre}}</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">No. de Cuenta</label>
                                    <input type="text" id="no_cuenta" class="form-control"  formControlName="no_cuenta">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">CLABE interbancaria</label>
                                    <input type="number" id="clabe_intenbancaria" maxlength="18" class="form-control"  formControlName="clabe_intenbancaria">
                                </div>
                            </div>
                       
                    </div>
                </fieldset>

                <fieldset class="scheduler-border">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <legend class="scheduler-border"><h4 class="card-title;  font-weight-bold" > Contacto Principal</h4></legend>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nombre Completo</label>
                                    <input type="text" style="text-transform:uppercase;" id="nombre_completo" class="form-control"  formControlName="nombre_completo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="email" class="form-control"  formControlName="email">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tel Móvil</label>
                                    <input type="number" maxlength="10" id="tel_movil" class="form-control"  formControlName="tel_movil">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tel Trabajo</label>
                                    <input type="number" maxlength="18" id="tel_trabajo" class="form-control" formControlName="tel_trabajo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Ext</label>
                                    <input type="text" id="ext" class="form-control"  formControlName="ext">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Puesto</label>
                                    <input type="text" style="text-transform:uppercase;" id="puesto" class="form-control"  formControlName="puesto">
                                </div>
                            </div>
                    </div>
                </fieldset>

        

                    <div mat-dialog-actions class="btn-create botones">
                        <button class="btn btn-warning" style="text-align: end;">Cancelar</button>
                        <button type="submit" class="btn btn-primary" style="text-align: end;">Actualizar Proveedor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
