<loading *ngIf="isLoading">{{ isLoading }}</loading>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary"  (click)="ListClient()" value=""><i
                            class="mdi mdi-playlist-check"></i> Listado Clientes</button></h4>

                <form id="clientForm" [formGroup]="clientForm"  (submit)="updateClient()" >
                    <fieldset class="scheduler-border">
                    <div class="row">
                       
                    
                            <div class="col-md-12">
                                <div class="form-group">
                                    <legend class="scheduler-border"><h4 class="card-title;  font-weight-bold" > Datos Generales</h4></legend>
                                </div>
                            </div>
    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">No. Cliente</label>
                                <fieldset disabled><label class="control-label">{{id_cliente}}</label> </fieldset>
                        
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Razón Social *</label>
                                <input type="text" id="razon_social" class="form-control" 
                                    formControlName="razon_social" >
                                   
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">RFC *</label>
                                <input type="text" id="rfc" class="form-control" 
                                    formControlName="rfc" >
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">País *</label>
                                <select class="form-control" id="idPais" 
                                    formControlName="idPais" (change)="obtIdPais()" [(ngModel)]="idPais">
                                    <option [value]="item.idpais" *ngFor="let item of Paises">{{item.pais}}</option>
                                </select>
    
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Ciudad *</label>
                                <select class="form-control" id="idCiudad" 
                                    formControlName="idCiudad" (change)="obtIdCiudad()" [(ngModel)]="idCiudad">
                                    <option [value]="item.idciudad" *ngFor="let item of Ciudades">{{item.ciudad}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Municipio/Alcadía *</label>
                                <select class="form-control" id="idMunicipio" 
                                    formControlName="idMunicipio"(change)="obtIdMunicipio()" [(ngModel)]="idMunicipio">
                                    <option [value]="item.iddelegacion" *ngFor="let item of Delegaciones">{{item.delegacion}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Calle *</label>
                                <input type="text" id="calle" class="form-control" 
                                    formControlName="calle">
                                  
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">No. Ext *</label>
                                <input type="text" id="no_ext" class="form-control" 
                                    formControlName="no_ext">
                                  
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">No. Int </label>
                                <input type="text" id="no_int" class="form-control" 
                                    formControlName="no_int">
                            </div>
                        </div>
                   
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Colonia *</label>
                                <input type="text" id="colonia" class="form-control" 
                                    formControlName="colonia">
                                  
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Código Postal *</label>
                                <input type="text" id="cp" class="form-control" 
                                    formControlName="cp">
                                   
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Sitio Web</label>
                                <input type="text" id="sitio_web" class="form-control"
                                    formControlName="sitio_web">
                            </div>
                        </div>
             

                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">URL Google Maps</label>
                                <input type="text" id="url_map" class="form-control" 
                                    formControlName="url_map">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">Observaciones</label>
                            <textarea class="form-control" id="observaciones" rows="3" formControlName="observaciones"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                

                <fieldset class="scheduler-border">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <legend class="scheduler-border"><h4 class="card-title;  font-weight-bold" > Datos de Facturación</h4></legend>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Codigo Postal Fiscal</label>
                                    <input type="text" id="cp_fiscal" class="form-control" 
                                        formControlName="cp_fiscal">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Uso de CFDI</label>
                                    <select class="form-control" id="idUsoCfdi" 
                                        formControlName="idUsoCfdi">
                                        <option [value]="item.id" *ngFor="let item of  CatalagoSatCFDI">{{item.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Régimen Fiscal</label>
                                    <select class="form-control" id="idRegimenFiscal" 
                                        formControlName="idRegimenFiscal">
                                        <option [value]="item.id" *ngFor="let item of  CatalogoSatRegimenFiscal">{{item.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                    </div>
                </fieldset>

                <fieldset class="scheduler-border">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <legend class="scheduler-border"><h4 class="card-title;  font-weight-bold" > Contacto Principal</h4></legend>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nombre Completo</label>
                                    <input type="text" id="nombre_completo" class="form-control" 
                                        formControlName="nombre_completo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="email" class="form-control" 
                                        formControlName="email">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tel Móvil</label>
                                    <input type="text" id="movil" class="form-control" 
                                    formControlName="movil">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tel Trabajo</label>
                                    <input type="text" id="tel_trabajo" class="form-control" 
                                    formControlName="tel_trabajo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Ext</label>
                                    <input type="text" id="ext" class="form-control" 
                                    formControlName="ext">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Puesto</label>
                                    <input type="text" id="puesto" class="form-control" 
                                    formControlName="puesto">
                                </div>
                            </div>
                    </div>
                </fieldset>

                <fieldset class="scheduler-border">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <legend class="scheduler-border"><h4 class="card-title;  font-weight-bold" > Contacto Técnico</h4></legend>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nombre Completo</label>
                                    <input type="text" id="nombre_completo_tecnico" class="form-control" 
                                        formControlName="nombre_completo_tecnico">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="email_tecnico" class="form-control" 
                                        formControlName="email_tecnico">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tel Móvil</label>
                                    <input type="text" id="movil_tecnico" class="form-control" 
                                    formControlName="movil_tecnico">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tel Trabajo</label>
                                    <input type="text" id="tel_trabajo_tecnico" class="form-control" 
                                    formControlName="tel_trabajo_tecnico">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Ext</label>
                                    <input type="text" id="ext_tecnico" class="form-control" 
                                    formControlName="ext_tecnico">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Puesto</label>
                                    <input type="text" id="puesto_tecnico" class="form-control" 
                                    formControlName="puesto_tecnico">
                                </div>
                            </div>
                    </div>
                </fieldset>
                <fieldset class="scheduler-border">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <legend class="scheduler-border"><h4 class="card-title;  font-weight-bold" > Contacto de Pago</h4></legend>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nombre Completo</label>
                                    <input type="text" id="nombre_completo_pago" class="form-control" 
                                        formControlName="nombre_completo_pago">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="email_pago" class="form-control" 
                                        formControlName="email_pago">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tel Móvil</label>
                                    <input type="text" id="movil_pago" class="form-control" 
                                    formControlName="movil_pago">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tel Trabajo</label>
                                    <input type="text" id="tel_trabajo_pago" class="form-control" 
                                    formControlName="tel_trabajo_pago">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Ext</label>
                                    <input type="text" id="ext_pago" class="form-control" 
                                    formControlName="ext_pago">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Puesto</label>
                                    <input type="text" id="puesto_pago" class="form-control" 
                                    formControlName="puesto_pago">
                                </div>
                            </div>
                    </div>
                </fieldset>


                    <div mat-dialog-actions class="btn-create botones">
                        <button class="btn btn-warning" style="text-align: end;">Cancelar</button>
                        <button type="submit" class="btn btn-primary" style="text-align: end;">Actualizar Cliente</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>