<loading *ngIf="isLoading">{{ isLoading }}</loading>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        
                       <!-- <form [formGroup]="productsForm">
                         <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="nombre_completo"> Filtro por Almacén o Responsable</label>
                                    <input type="text" id="name" class="form-control" placeholder="Nombre del Almacen o Responsable" 
                                   formControlName="name" >
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin-top: 34px;">
                                        <button type="submit" class="btn btn-primary"   (click)="searchStores()"><i class="mdi mdi-account-search"></i> </button>
                                </div>
                            </div>
                         </div>   
                        </form>
                          -->
                    </div>
                  

                    <div class="col-2">
                        <h4 class="card-title" style="text-align: end; margin-top: 34px;"><button class="btn btn-primary" (click)="createSecction()"
                            value=""><i class="mdi mdi-plus"></i> Crear Sección</button></h4>
                    </div>
               </div>

       
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Nomenclatura</th>
                                <th>Estatus</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let secction of Secctions| paginate: { itemsPerPage: 50, currentPage: p }">
                                <td>{{secction.id }}</td>
                                <td>{{secction.name }}</td>
                                <td>{{secction.nomenclature }}</td>
                                <td>Estatus</td>
                                <td class="actions">
                                    <a [routerLink]="['/dashboard/see-secction', secction.id ]"><i class="mdi mdi-eye"></i></a>
                                    <a [routerLink]="['/dashboard/edit-secction', secction.id ]"><i class="mdi mdi-pencil"></i></a>
                                    <a [routerLink]="['/dashboard/delete-secction', secction.id ]"><i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"
                        style="text-align: center;"></pagination-controls>
            </div>
        </div>
    </div>
</div>