<div class="row">
    <!-- <form action=""> -->
    <div class="col-12">
        <div class="card">
            <h5 class="card-header primary">Datos personales</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Apellido Paterno *</label>
                            <input type="text" id="firstName" class="form-control" placeholder=""
                                formControlName="nombre">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Apellido materno</label>
                            <input type="text" id="firstName" class="form-control" placeholder=""
                                formControlName="nombre">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Nombre(s) *</label>
                            <input type="text" id="firstName" class="form-control" placeholder=""
                                formControlName="nombre">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Fecha de nacimiento *</label>
                            <input type="date" id="firstName" class="form-control" placeholder="" formControlName="nombre">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">RFC *</label>
                            <input type="text" id="firstName" class="form-control" placeholder="" formControlName="nombre">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">CURP *</label>
                            <input type="text" id="firstName" class="form-control" placeholder="" formControlName="nombre">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Género *</label>
                           <select name="" class="form-control" id=""></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Estado civil *</label>
                           <select name="" class="form-control" id=""></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Nacionalidad *</label>
                            <select name="" class="form-control" id=""></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">NSS *</label>
                            <input type="text" id="firstName" class="form-control" placeholder="" formControlName="nombre">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Domicilio</h5>
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Datos de contacto</h5>
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Conracto de emergencia</h5>
            <div class="card-body">
               
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Datos laborales</h5>
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Datos de nómina</h5>
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Datos cuenta bancaria</h5>
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Datos de acceso</h5>
            <div class="card-body">
               
            </div>
        </div>
    </div>
    <!-- <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: end;">
                        <a routerLink="/dashboard/list" class="btn btn-primary"><i class="mdi mdi-arrow-left-bold"></i>
                            Regresar</a>
                    </h4>

                    <form [formGroup]="employeeForm">
                        <div class="card">
                            <h5 class="card-header">Destacado</h5>
                            <div class="card-body">
                                <div class="row p-t-20">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Nombre de la campaña</label>
                                            <input type="text" id="firstName" class="form-control"
                                                placeholder="Nombre de la campaña" formControlName="nombre">
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-header">Destacado</h5>
                            <div class="card-body">
                                <h5 class="card-title">Tratamiento especial del título</h5>
                                <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
                                <a href="#" class="btn btn-primary">Ir a algún lugar</a>
                            </div>
                        </div>
                        <div mat-dialog-actions class="btn-create">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button class="btn btn-warning">Cancelar</button>
                        </div>
                    </form>

                </div>
            </div> -->

    <!-- </form> -->
</div>