<loading *ngIf="isLoading">{{ isLoading }}</loading>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary" (click)="ListBrands()"
                        value=""><i class="mdi mdi-playlist-check"></i> Lista de Marcas</button></h4>

                <form (submit)="updateBrand()" [formGroup]="brandsForm ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <fieldset disabled>
                                <label class="control-label">Nombre de la Marca</label>
                                <input type="text" id="name" class="form-control" placeholder=" "
                                    formControlName="name">
                                    </fieldset>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <fieldset disabled>
                                <label class="control-label">SubCategoria</label>
                                <select class="form-control" id="id_subcategory" placeholder="Almacén"
                                formControlName="id_subcategory">
                                <option [value]="item.id" *ngFor="let item of SubCategorie">{{item.name}}</option>
                            </select>
                            </fieldset>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Estatus</label>
                                <select class="form-control" id="id_status" placeholder="Estatus"
                                    formControlName="id_status">
                                    <option [value]="item.id" *ngFor="let item of Estatus">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>

                


                    </div>
                    <div mat-dialog-actions class="btn-create botones">
                        <button class="btn btn-warning" style="text-align: end;">Cancelar</button>

                        <button type="submit" class="btn btn-primary" style="text-align: end;">Eliminar Marca</button>

                    </div>

                    
                    
                </form>
            </div>
        </div>
    </div>
</div>

